body{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.photo{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

.photo img{
    width: 100%;
    border: 5px solid;
}

.photo h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    margin-top: 20px;
}

.photo p{
    font-family: Arial, sans-serif;
    font-size: 14px;
}